---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

/* red: #F03434 blue: #3d5d86 #28588D green: #317B22 */
$text-color: #28588D
$accent-color: #999999;
$nav-background-color: #28588D
 

@import "so-simple";
